* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f5;
    font-family: "Montserrat", sans-serif;
}

header{
    background-color:#8661C9;
    padding: 20px;
    text-align: center;
    color: #fff;
}

nav{
    text-align: center;
    margin: 2.5vh 0vh 4vh 0vh;
}

a{
    margin-right: 2vh;
    text-decoration: none;
    font-size: 14pt;
    color: #743a05;
    transition: color 0.3s ease;
}

a:hover {
    color: #c96e1e;
}


header h1 {
    font-size: 27pt;
}

h2{
    font-size: 20pt;
    text-align: center;
    color: #8661C9;
    margin-bottom: 2.2vh;
}

form{
    text-align: center;
    font-size: 14pt;
    margin-top: 5vh;
}

label, input{
    margin-bottom: 2.5vh;
    padding: 5px;
    width: 25%;
    display: block;
    margin-left: 37.5%;
    
}

button{
    padding: 8px;
    background-color: #8661C9;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 12pt;
    margin-top: 2vh;
}

button:hover{
    background-color: #c96e1e;
}
