* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f5;
    font-family: "Montserrat", sans-serif;
    color: #333;
}

header {
    background-color: #8661C9;
    padding: 20px;
    text-align: center;
    color: #fff;
}

header h1 {
    font-size: 27pt;
    margin-bottom: 1.5vh;
}

header p {
    font-size: 15pt;
}

nav {
    text-align: center;
    margin: 3vh 0vh 3vh ;
}

nav a {
    text-decoration: none;
    color: #743a05;
    font-size: 14pt;
    margin: 0 15px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #c96e1e;
}

main {
    width: 30vw;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

footer {
    margin-top: 40px;
    text-align: center;
}

footer p {
    font-size: 14pt;
    color: #555;
}

footer #links img {
    margin: 3vh 1vh;
}


@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    nav a {
        font-size: 1rem;
        margin: 0 10px;
    }

    footer #links img {
        width: 80px;
    }
}
