* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f5;
    font-family: "Montserrat", sans-serif;
}

header{
    background-color: #8661C9;
    padding: 20px;
    text-align: center;
    color: #fff;
}

nav{
    text-align: center;
    margin: 2.5vh 0vh 4vh 0vh;
}

a{
    margin-right: 2vh;
    text-decoration: none;
    font-size: 14pt;
    color: #743a05;
    transition: color 0.3s ease;
}

a:hover {
    color: #c96e1e;
}


header h1 {
    font-size: 27pt;
}

h2{
    font-size: 20pt;
    text-align: center;
    color: #8661C9;
    margin-bottom: 2.2vh;
}

form{
    text-align: center;
    font-size: 14pt;
    margin-top: 3vh;
}

label, input{
    margin-bottom: 1.5vh;
    padding: 5px;
    width: 18%;
    display: block;
    margin-left: 41.5%;
    
}

button {
    font-size: 12pt;
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color:#8661C9;
    color: white;
    transition: background-color ease 0.2s;
    margin-top: 2.5vh;
}

button:hover {
    background-color:#5b36a0;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 4.3vh;
}

li {
    margin: 0 2vh;
}

.comida-item {
    text-align: center;
    margin-bottom: 2vh;
}

.nome {
    margin-bottom: 1vh;
    font-size: 14pt;
    color: #743a05;
}

img {
    height: 20vh;
    width: 20vh;
}